
<!--<div class="bs-example">
<div class="panel panel-primary">
<div class="panel-heading">
<h3 class="panel-title">301 Moved Permanently</h3>
</div>
<div class="text-center">
<pagination total-items="vm.totalTimeTrackers" ng-change="vm.pageChanged()" ng-model="vm.currentPage" items-per-page="vm.pageSize"></pagination>
</div>
</div>
</div>-->

<!-- Main content -->
<section class="content" style="margin-top: 5px;">
  <div class="row">
    <div class="text-center">
      <label class="control-label" for="contributor">Colaborador</label>
      <!--<select class="form-control" name="contributor" id="contributor" ng-model="vm.user" ng-change="vm.setColaborator()">
        <option ng-repeat="option in vm.users" ng-value='"{{option._id}}"'>{{option.displayName}}</option>
      </select>-->
      <select class="form-control" name="contributor" id="contributor" ng-options="item as item.displayName for item in vm.users track by item._id" ng-model="vm.user" ng-change="vm.setColaborator()"></select>
    </div>
    </div>

  <!-- Main row -->
  <div class="row">




    <div class="text-center">
      <pagination total-items="vm.totalTimeTrackers" ng-change="vm.pageChanged()" ng-model="vm.currentPage" items-per-page="vm.pageSize"></pagination>
    </div>


    <div class="col-md-4">
      <!-- Info Boxes Style 2 -->
      <div class="box box-danger" >
        <div class="list-group">
          <a data-ng-repeat="timetracker in vm.timetrackers"
          data-ui-sref="timetrackers.view({ timetrackerId: timetracker._id })"
          class="list-group-item">
          <h4 class="list-group-item-heading" data-ng-bind="timetracker.project"></h4>
          <!--<h4 class="list-group-item-heading" data-ng-bind="timetracker.start_date | date:'mediumDate'"></h4>-->

          <medium class="list-group-item-text">
            <span data-ng-bind="timetracker.hours"></span>
            horas no dia
            <span data-ng-bind="timetracker.start_date | date:'mediumDate'"></span>
          </medium>
          <br>
          <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="timetracker.created | date:'mediumDate'"></span>
            by
            <span data-ng-if="timetracker.user" data-ng-bind="timetracker.user.displayName"></span>
            <span data-ng-if="!timetracker.user">Deleted User</span>
          </small>
        </a>
      </div>
    </div>
  </div>


  <!-- Left col -->
  <div class="col-md-8">
    <!-- MAP & BOX PANE -->
    <div class="box box-success" >
      <div class="box-header with-border">
        <h3 class="box-title">Horas trabalho diário</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <div class="btn-group" >
            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="setOrdered('chart_bar', 'orderAsc')">Ascendente</a></li>
              <li><a href="" ng-click="setOrdered('chart_bar', 'orderDesc')">Descendente</a></li>
            </ul>
          </div>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12 col-sm-8">
            <div class="pad">

              <c3chart bindto-id="chart-timeseries" chart-data="vm.datapoints" chart-columns="vm.datacolumns"
              chart-x="vm.datax">
              <chart-size chart-height="200"/>
              <chart-axis>
                <chart-axis-x axis-id="x" axis-type="timeseries" axis-x-format="%Y-%m-%d">
                  <chart-axis-x-tick tick-format-date="%Y-%m-%d"/>
                </chart-axis-x>
                <!--<chart-axis-x tick-centered
                axis-type="category">
              </chart-axis-x>-->
            </chart-axis>
          </c3chart>


        </div>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.box-body -->
</div><!-- /.box -->


<div class="col-md-12">
  <!-- MAP & BOX PANE -->
  <div class="box box-success" >
    <div class="box-header with-border">
      <h3 class="box-title">Total Horas (últimos 20 registos)</h3>
    </div><!-- /.box-header -->

    <div class="box-body no-padding">
      <div class="row">



        <div class="col-md-6 col-sm-8">
          <div class="pad">

            <c3chart bindto-id="pie-plot1-chart" chart-data="vm.pieDatapoints2" chart-columns="vm.pieDatacolumns2">
              <chart-size chart-height="200"/>
              <chart-pie expand="true" show-label="true" threshold-label="0.1"/>
            </c3chart>


          </div>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.box-body -->
  </div><!-- /.box -->


  <div class="col-md-12">
    <!-- MAP & BOX PANE -->
    <div class="box box-success" >
      <div class="box-header with-border">
        <h3 class="box-title">Total Horas (projetos ativos)</h3>
      </div><!-- /.box-header -->

      <div class="box-body no-padding">
        <div class="row">


          <div class="col-md-6 col-sm-8">
            <div class="pad">

              <c3chart title="Hours Worked" bindto-id="pie-plot2-chart" chart-data="vm.pieDatapoints" chart-columns="vm.pieDatacolumns">
                <chart-size chart-height="200"/>
                <chart-pie title="Hours Worked" expand="true" show-label="true" threshold-label="0.1"/>
              </c3chart>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->



  <!-- TABLE: LATEST ORDERS -->
  <div class="row">
    <div class="col-md-8">
      <!--<p class="text-center">
      <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
    </p>-->
    <div class="chart" >
      <!-- Sales Chart Canvas bar chart-->
      <!--<canvas id="salesChart" style="height: 180px;"></canvas>-->

      <p google-chart chart="chart_tree_map" style="height: 235px;"></p>

    </div><!-- /.chart-responsive -->
  </div><!-- /.col -->
  <div class="col-md-4" >
    <p google-chart chart="chart_pie" ></p>
  </div>
</div>

</div><!-- /.col -->

</div><!-- /.row -->




<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <div class="btn-group" >
            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="setOrdered('chart_bar', 'asc')">Ascendente</a></li>
              <li><a href="" ng-click="setOrdered('chart_bar', 'desc')">Descendente</a></li>

            </ul>
          </div>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div><!-- /.box-header -->
    </div>
  </div>


</section><!-- /.content -->


<section>
  <!--<div class="page-header">
  <h1>Timetrackers</h1>
</div>-->
<!--{{vm.timetrackers}}-->

<div class="alert alert-warning text-center" data-ng-if="vm.timetrackers.$resolved && !vm.timetrackers.length">
  No Timetrackers yet, why don't you <a data-ui-sref="timetrackers.create">create one</a>?
</div>
</section>
